.footer {
	.container {
		&-footer {
			padding-block: 80px;
			@include responsive(md) {
				padding-block: 40px;
			}
			.subtext {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
				@include responsive(sm) {
					flex-direction: column;
					gap: 16px;
				}
				&-text {
					display: flex;
					align-items: flex-start;
					gap: 24px;
					@include responsive(sm) {
						flex-direction: column;
						gap: 16px;
					}
					&-span {
						color: $dark-gray;
						font-family: $font-body;
						font-size: 20px;
						font-weight: 400;
						line-height: normal;
					}
				}
			}
		}
	}
}
