.section-ready {
	.container {
		&-ready {
			flex-direction: column;
			padding-inline: 40px;
			@include responsive(md) {
				padding-inline: 20px;
			}
			.wrapper {
				padding: 80px 80px;
				border-radius: 80px;
				display: inline-flex;
				flex-direction: column;
				@include responsive(md) {
					padding: 54px;
					border-radius: 64px;
				}
				@include responsive(sm) {
					padding: 40px 20px;
					border-radius: 35px;
				}
			}
			.head-content {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding-block: 56px;
				border-block: 1px solid $light-gray-white;
				@include responsive(md) {
					flex-direction: column;
					align-items: flex-start;
					gap: 30px;
					.line-border {
						width: 100%;
					}
				}
				.subtext {
					&-text {
						padding-block: 23px;
						@include responsive(md) {
							width: 100%;
						}
						&-display {
							color: $white;
							@include responsive(xl) {
								font-size: 54px;
							}
							@include responsive(sm) {
								font-size: 32px;
							}
						}
					}
				}
				.btn {
					@include responsive(sm) {
						width: 100%;
					}
				}
			}
			.body-content {
				margin-top: 56px;
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
				@include responsive(xl) {
					flex-direction: column;
					gap: 20px;
				}
				.subtext-text {
					&-menu {
						display: flex;
						align-items: flex-start;
						justify-content: space-between;
						gap: 80px;
						@include responsive(md) {
							width: 100%;
							flex-direction: column;
							gap: 20px;
						}
						.menu {
							&-link {
								display: block;
								line-height: 200%;
								font-family: $font-body;
								font-size: $p-lg-2;
								color: $secondary;
								@include responsive(md) {
									font-size: 20px;
								}
							}
						}
					}
					&-contact {
						.contact-text {
							&-display {
								color: $primary;
								@include responsive(md) {
									font-size: 32px;
								}
							}
							&-link {
								font-size: $p-lg-2;
								font-family: $font-body;
								color: $gray;
								@include responsive(md) {
									font-size: 20px;
								}
							}
						}
					}
					&-office {
						.office-text {
							&-display {
								color: $primary;
								@include responsive(md) {
									font-size: 32px;
								}
							}
							&-link {
								display: flex;
								font-size: $p-lg-2;
								font-family: $font-body;
								color: $gray;
								@include responsive(md) {
									font-size: 20px;
								}
								&:not(:last-child) {
									margin-bottom: 8px;
								}
							}
						}
					}
					&:last-child {
						display: flex;
						gap: 120px;
						@include responsive(md) {
							gap: 20px;
							flex-direction: column;
						}
					}
				}
			}
		}
	}
}
