.section-service {
	.container {
		&-service {
			padding-block: 80px;
			flex-direction: column;
			@include responsive(md) {
				padding-block: 40px;
			}
			.head-content {
				display: flex;
				justify-content: space-between;
				align-items: center;
                padding-bottom: 40px;
                border-bottom: 1px solid $light-gray-white;
				@include responsive(md) {
					gap: 16px;
					flex-direction: column;
					align-items: flex-start;
				}
				.subtext-text {
					display: flex;
					align-items: center;
					@include responsive(sm) {
						flex-direction: column;
						align-items: flex-start;
						gap: 16px;
					}
					&-display {
						color: $primary;
					}
					&-subtitle {
						font-size: $p-lg;
						span {
							font-size: 32px;
							margin: 0 30px;
							@include responsive(sm) {
								margin-left: 0;
							}
						}
					}
					&-span {
						font-size: $p-sm;
					}
				}
			}
			.body-content {
				display: flex;
				justify-content: space-between;
				padding-block: 80px;
                border-bottom: 1px solid $light-gray-white;
				@include responsive(md) {
					padding-block: 40px;
				}
				@include responsive(md) {
					flex-direction: column;
					gap: 30px;
				}
				.subtext {
					&-image {
                        .img-service {
                            max-width: 503.5px;
                            opacity: 1;
                            transform: scale(1);
                            transition: all 500ms ease;
							@include responsive(xl) {
								max-width: 407.5px;
							}
							@include responsive(md) {
								display: block;
								margin: auto;
							}
						}
					}
					&-list {
						margin-left: -124px;
						@include responsive(xl) {
							margin-left: -75px;
						}
						@include responsive(md) {
							margin-left: 0;
						}
						&-display {
							display: block;
							font-family: $font-display;
							font-size: $h3;
							text-align: end;
							color: $light-gray;
							transition: all 300ms ease;
							@include responsive(xl) {
								font-size: 42px;
							}
							@include responsive(md) {
								text-align: start;
							}
							@include responsive(sm) {
								font-size: 28px;
							}
							sup {
								font-size: 32px;
								margin-right: 16px;
								@include responsive(md) {
									font-size: 22px;
								}
							}
							&:not(:last-child) {
								margin-bottom: 40px;
								@include responsive(sm) {
									margin-bottom: 16px;
								}
							}
							&:hover {
								color: $primary;
								cursor: pointer;
							}
						}
					}
				}
			}
		}
	}
}

.active {
    color: $primary !important;
}
