$primary: #ef4824;
$secondary: #f4f3ee;

$white: #ffffff;
$black: #1c1c1c;
$dark-gray: #5f5f5f;
$gray: #9f9f9c;
$light-gray: #a7a7a7;
$light-gray-white: #bebebe;

// $subText: #94a0c0;

.text-primary {
    color: $primary !important;
}


